body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4.6rem;
}

code {
    font-size: 120%;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 60rem;
}

.title {
    grid-column: span 2;
    text-align: center;
}

.boxes div {
    box-sizing: border-box;
    width: 100%;
    padding: 4rem;
    font-size: 3rem;
    color: white;
    background-color: green;
}