.bookCard__container {
  width: 160px;
  height: fit-content;
  justify-content: space-between;
  cursor: pointer;
  transition: 500ms;
  border-radius: 5px;
}

.bookCard__container:hover {
  background-color: rgb(199, 199, 199);
}

.bookCard_thumbnail__container {
  width: 160px;
  height: 200px;
  padding-bottom: 10px;
  overflow: hidden;
}
.bookCard_thumbnail__image {
  width: 160px;
  border-radius: 4px;
}
.bookCard_data__container {
  width: 160px;
  height: 80px;
  padding-top: 10px;
}
.bookCard_title__text {
  font-size: 0.9rem;
  font-weight: thin;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.bookCard_author__text {
  font-size: 0.8rem;
  font-weight: thin;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}
.bookCard__buttons {
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
}

.bookCard {
  margin-top: 20px;
}

.bookCard_select__buttons {
  background-color: rgb(167, 251, 199);
  width: 50%;
  transition: 500ms;
}

.bookCard_select__buttons:hover {
  background-color: rgb(26, 86, 49);
}

.bookCard_add__buttons {
  background-color: rgb(249, 255, 74);
  width: 50%;
  transition: 500ms;
}

.bookCard_add__buttons:hover {
  background-color: rgb(142, 146, 28);
}
