.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bookDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookList {
  display: grid;
  grid-template-columns: repeat(5, minmax(160px, 1fr));
  grid-gap: 40px;
}

.bookShowcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookEmptyCart {
  font-size: 4rem;
  font-weight: thin;
  margin-bottom: 20px;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bigButton {
  background-color: firebrick;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 100px;
}

.bigButton:hover {
  background-color: darkred;
}
