nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(109, 23, 23);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul,
li,
a {
  color: white;
  text-decoration: none;
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 1rem;
  font-size: 24px;
}
